<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>This is the home page!</h1>

<img src="https://a00000820018-live-cc36dd0ff06f46c08f9308e5144c2f82-209a3c0.s3.amazonaws.com/filer_public_thumbnails/filer_public/ae/bf/aebf8712-235c-4efe-a142-46e500470783/shutterstock_123176032_golden-retriever.jpg__1170x0_q90_subject_location-2144%2C1419_subsampling-2_upscale.jpg">

<% include partials/footer %>