<% include partials/header %>
<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<!-- logic or loops no equal sign -->
<% if ( thingVar.toLowerCase() === "rusty"){ %>
    <p>GOOD CHOICE!! RUSTY IS THE BEST.</p>
<% } else { %>
    <p>BAD CHOICE</p>
<% } %>

<p> P.S. this is the love.ejs file!</p>

<% include partials/footer %>    